<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
     <b> <P style="font-size: larger;">This is me...M7mod Elsherif</P></b>  
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>